page-login {
  background-color: map-get($colors, backpage);
  /*
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  }
  */
  
  .grid {
     @include border-radius(3px);
     @include middle();
     background-color: white;
     padding:5px;
     font-size: 1em;
     -webkit-box-shadow: 0 2px 6px 3px #c8c8c8;
       -moz-box-shadow: 0 2px 6px 3px #c8c8c8;
            box-shadow: 0 2px 6px 3px #c8c8c8;   
  }
  
  .item {
    padding-left:0;
  }
}
