page-station-detail {
    .summary {
        .item:not(:first-child) {
            padding-left: 25px;
        }
    }
    
    .card {
        .label {
            font-size:14px;
            color: #488aff;
        }
    }
    
    .icon {
        color: #616161;
    }

}
