page-sign-up {
  .grid {
    @include border-radius(3px);
    @include middle();
    background-color: white;
    padding:5px;
    font-size: 1em;
  }

  .item {
    padding-left:0;
  }

  .scroll-content {
    background: url('../assets/images/bg.jpg') no-repeat !important;
  }
}
